@import "tailwindcss";

:root {
  --background: #F2F2F2; /* base-100 */
  --foreground: #171717;
  --color-primary: #5550F2;
  --color-secondary: #027368;
  --color-accent: #04BF9D;
  --color-warning: #F2B33D;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717; /* A slightly lighter dark for better contrast */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  animation: fadeIn 0.5s ease-in-out;
}

@layer base {
  a {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modal-backdrop-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-content-show {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-backdrop-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal-content-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
